.error {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;

    &--title {
      font-size: 16rem;
      letter-spacing: 2rem;
      color: #fff;
    }

    &--content {
      font-size: 60px;
      color: #fff;
    }

    &--button {
      background-color: #fff;
      padding: 10px;
      border-radius: 5px;
      font-size: 20px;
      font-weight: 600;
    }
  }
}
