.line {
  width: 100%;
  height: 10px;
  background-color: #eeaeca;
  display: block;
  margin: 10px 0;
}

.slick-arrow {
  z-index: 10;
}

.slick-dots {
  bottom: 25px;
}

.slick-dots li button::before {
  font-size: 12px;
}

.slick-arrow::before {
  color: #94bbe9 !important;
}

.slick-prev {
  left: 25px;
}

.slick-next {
  right: 25px;
}

.form--container {
  padding: 20px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  width: 400px;
  background-color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.form--title {
  font-size: 24px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #eeaeca;
  padding: 10px;
  border-radius: 10px;
}

.form--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.label {
  width: 200px;
  background-color: #eeaeca;
  padding: 5px 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #eeaeca;
  font-style: italic;
}

.input:focus {
  outline: none;
}

.image--preview {
  width: 100px;
  height: 100px;
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
}

.submit {
  background-color: #94bbe9;
  border-radius: 25px;
  width: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: 1px solid #fff;
  padding: 10px;
  font-weight: 600;
}

.submit:hover {
  background-color: #eeaeca;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.register__form--validate {
  width: 100%;
  color: #fff;
  background-color: #e62856;
  border-radius: 5px;
  padding: 10px;
}

.btn--close {
  border-style: dashed;
  position: absolute;
  color: #000;
}

.btn--create {
  background-color: #94bbe9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.form__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.form__control--item {
  width: 300px;
  gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.productDetail__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.productDetail__image--show {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: 50% 50%;
  -webkit-box-shadow: #94bbe9 0px 5px 15px;
          box-shadow: #94bbe9 0px 5px 15px;
  border-radius: 5px;
}

.productDetail__image--list {
  height: 100px;
  width: 100%;
}

.productDetail__content--name {
  font-size: 40px;
  text-transform: capitalize;
  font-weight: 600;
}

.productDetail__content--desc {
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
}

.productDetail__content--sale {
  font-size: 25px;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: line-through;
}

.productDetail__content--root {
  font-size: 30px;
  font-weight: 800;
  color: #ed3e3e;
}

.productDetail__content--btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.productDetail__content--btn .productDetail__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  width: 200px;
  background-color: #eeaeca;
  padding: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  border: 1px solid transparent;
}

.productDetail__content--btn .btn--buy {
  color: #ed3e3e !important;
  background-color: #fff;
  border-color: #ed3e3e;
}

.productDetail__content--btn .btn--like {
  color: #eeaeca;
  background-color: #fff;
  border-color: #eeaeca;
}
/*# sourceMappingURL=detailProduct.css.map */